* {
    font-family: Arial, "Free Sans";
}

#boxcard {
    margin: 0 auto;
    width: 249px;
    z-index: 1;
}

#boxcard div {
    float: left;
    width: 100px;
    height: 100px;
    background: #2ecc71;
    margin: 5px;
    padding: 5px;
    border: 2px dashed #FFFFFF;
    cursor: pointer;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    z-index: 2;
}

#completed {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#okno {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}
#completed:target {display: block;}
.close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
}
.close:hover {background: #e6e6ff;}

#boxcard div img {
    border: none;
    width: 100px;
    height: 100px;
    z-index: 3;
    border-radius: 65px;
}

.opacity {
    -webkit-filter: brightness(50%);
}

#boxbutton {
    text-align: center;
    padding: 20px;
}
.link {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    background: #2ecc71;
    padding: 5px 10px;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: 0;
    border: #FFFFFF;
  
}

.link:hover {
    background: #2ecc71;
    border: 2px solid #1abc9c;
}

body {
  background: #16a085;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}


#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

@keyframes s_im {
    0% {
        display: block !important;
        opacity: 0;
        transform-origin: 50% 0;
        transform: perspective(800px) rotateX(-90deg)
    }
    50% {
        display: block !important;
        opacity: 1;
        transform-origin: 50% 0;
        transform: perspective(800px) rotateX(50deg)
    }
    100% {
        display: block !important;
        opacity: 1;
        transform-origin: 50% 0;
        transform: perspective(800px) rotateX(0)
    }
}


@keyframes h_im {
    0% {
        display: block !important;
        opacity: 1;
        transform-origin: 100% 100%;
        transform: perspective(800px) rotateX(0) rotateY(0)
    }
    20% {
        display: block !important;
        opacity: 1;
        transform-origin: 100% 100%;
        transform: perspective(800px) rotateX(0) rotateY(10deg)
    }
    30% {
        display: block !important;
        opacity: 1;
        transform-origin: 0 100%;
        transform: perspective(800px) rotateX(0) rotateY(0)
    }
    40% {
        display: block !important;
        opacity: 1;
        transform-origin: 0 100%;
        transform: perspective(800px) rotateX(10deg) rotateY(10deg)
    }
    100% {
        opacity: 0;
        transform-origin: 100% 100%;
        transform: perspective(800px) rotateX(90deg) rotateY(0)
    }
}